/* sfc-style:/home/mgras/book/Book/.obsidian/plugins/obsidian-auto-timelines/src/components/VConfigureSingleDateTokenType.vue?type=style&index=0 */
ul[data-v-06def973] {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* sfc-style:/home/mgras/book/Book/.obsidian/plugins/obsidian-auto-timelines/src/components/VDetails.vue?type=style&index=0 */
.v-details > div[role=heading][data-v-b71f4981] {
  display: flex;
  gap: 4px;
}
span[role=icon][data-v-b71f4981] {
  transition: transform 150ms ease-in-out;
}
.isOpen span[role=icon][data-v-b71f4981] {
  transform: rotate(90deg);
}
