name: Unit tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  front:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install pnpm
        run: npm install --global corepack@latest && corepack enable pnpm

      - name: Install dependencies
        run: pnpm i

      - name: Prepare vitests
        run: pnpm run prepare-vitest

      - name: Run tests
        run: pnpm run test
