name: TSC Checks

on:
  push:
    branches: ["master"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["master"]

jobs:
  eslint:
    name: Run tsc scanning
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install pnpm
        run: npm install --global corepack@latest && corepack enable pnpm

      - name: Install dependencies
        run: pnpm i

      - name: Run TSC
        run: pnpm tsc --noEmit --pretty --skipLibCheck
